<h1>Stupid Coach</h1>
  <div class="you">
    <h2>You typed:</h2>
    <%= @ask %>
  </div>
  <div class="coach">
    <h2>Here is your coach's answer:</h2>
    <%= @answer %>
  </div>
</br>
</br>

<%= link_to 'Type Again', ask_path %>
